.bookOne {
  width: 28%;
  max-height: 400px;
  box-shadow: 5px 10px #888888;
  border-radius: 10px;
  background-image: linear-gradient(to right, #b3e0ff, #66c2ff);
}
.bookOne > img {
  width: 100%;
  height: 80%;
}

@media (max-width: 600px) {
  .bookOne {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    max-height: none;
  }
  .bookOne > img {
    width: 100%;
    height: 400px;
  }
}

.bookOne__imgdesc {
  height: 20%;
}
.bookOne_imagedescbutton {
  margin-top: 15px !important;
  margin-right: 20px !important;
}
